    <div class="container">
      <div id="dropzone">
        <form action="/upload" method="post" class="dropzone" id="file-upload">
          <!--div class="dz-message needsclick">
            Drop files here or click to upload.
          </div-->
        </form>
      </div>
    </div>